.galleries {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  background: white;
  padding: 2rem;
}

.gallery img {
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
  cursor: pointer;
}

.gallery img:focus {
  border: 3px solid deeppink;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modalInner {
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  /* transform: translateY(-100vh); */
  transition: all 0.5s;
  height: calc(100vh - 100px);
  max-width: 600px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  color: black;
  margin: 3rem;
  overflow: scroll;
}

/* .modal.open .modalInner {
  transform: translateY(0);
} */

.modal figure {
  height: 100%;
  display: grid;
  margin: 0;
  grid-template-rows: 1fr auto;
}

.modal img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.modal figcaption {
  padding: 10px;
}

.modal h2 {
  color: black;
}

.modal p {
  font-size: 1.4rem;
}

.modal button {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #aaa;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.modal button:hover {
  opacity: 1;
}

.modal button.disabled {
  color: #fff;
  opacity: 0.2;
}
