body {
  min-height: 100vh;
  display: grid;
  align-items: start;
  justify-items: center;
}

/* Shopping Form */
.shopping {
  display: grid;
  grid-template-columns: 1fr auto;
}

.shopping-list {
  background: white;
  padding: 3rem;
  border-radius: 1rem;
  width: 500px;
  margin: 4rem 0;
}

.shopping-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shopping-item {
  /* padding: 1rem 0; */
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

.shopping-item label {
  padding: 1rem 0;
  display: inline-block;
}

.shopping-item input[type='checkbox'] {
  margin-right: 1rem;
}

.shopping-item input[type='checkbox']:checked + .itemName {
  opacity: 0.5;
}

.shopping-item button {
  margin-left: 1rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #fff;
  border: #fff 1px solid;
  color: #d5048b;
  border-radius: 2px;
  transition: 0.2s;
}

.shopping-item button:hover {
  border: #d5048b 1px solid;
}
